---
layout: default.njk
---

<section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
    <div
      class="block rounded-lg p-6 border border-gray-200 shadow bg-gradient-to-b from-blue-400 to-blue-600 text-white"
    >
      <h3 class="leading-6 font-semibold text-xl mb-3">Hallo du 👋</h3>
      <p>
        In unserer letzten Dienstwoche habe ich mir eine kleine "best practice" Sammlung für Zeugnisbriefe/-karten
        angelegt. Damit alle davon profitieren können, teile ich sie hier. Darf natürlich gerne weiter geteilt werden!
      </p>
    </div>
    <div
      class="block rounded-lg p-6 border border-gray-200 shadow bg-gradient-to-b from-gray-400 to-gray-600 text-white"
    >
      <h3 class="leading-6 font-semibold text-xl mb-3">Weitere Vorschläge? Fehler gefunden?</h3>
      <p>
        Wenn du einen GitHub Account hast kannst du mir per Pull Request gerne weitere Vorschläge oder Fehlerkorrekturen
        schicken.
      </p>
    </div>
  </div>
</section>

<section class="mt-12 md:mt-16">
  <h4 class="text-2xl font-semibold text-gray-900">Best practices</h4>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 mt-4">
    <div class="block rounded-lg p-6 border border-gray-200 shadow bg-white">
      <h2 class="leading-6 font-semibold text-xl text-green-800 mb-3">#1 Begeisterung zeigen</h2>
      <p>
        In unserer letzten Dienstwoche habe ich mir eine kleine "best practice" Sammlung für Zeugnisbriefe/-karten
        angelegt. Damit alle davon profitieren können, teile ich sie hier. Darf natürlich gerne weiter geteilt werden!
      </p>
    </div>

    <div class="block rounded-lg p-6 border border-gray-200 shadow bg-white">
      <h2 class="leading-6 font-semibold text-xl text-green-800 mb-3">#2 Fragen stellen</h2>
      <p>
        In unserer letzten Dienstwoche habe ich mir eine kleine "best practice" Sammlung für Zeugnisbriefe/-karten
        angelegt. Damit alle davon profitieren können, teile ich sie hier. Darf natürlich gerne weiter geteilt werden!
      </p>
    </div>

    <div class="block rounded-lg p-6 border border-gray-200 shadow bg-white">
      <h2 class="leading-6 font-semibold text-xl text-green-800 mb-3">#3 Begeisterung zeigen</h2>
      <p>
        In unserer letzten Dienstwoche habe ich mir eine kleine "best practice" Sammlung für Zeugnisbriefe/-karten
        angelegt. Damit alle davon profitieren können, teile ich sie hier. Darf natürlich gerne weiter geteilt werden!
      </p>
    </div>
  </div>
</section>
